<div class="col-3 mx-auto my-5 border rounded border-dark">
    <img width="100%" height="auto" alt={{flag}} src={{flag}} />
    <h1 class="text-center">{{pageTitle}}</h1>
    <h2 class="text-center">{{title}}</h2>
</div>